/* h1{
  color: black;
  background-color: rgb(252, 252, 102);
  padding: 20px;
  text-align: center;
}
.container{
  margin: 10px;
}
h2{
  color: green;
  text-align: center;
  padding: auto;
}

.button{
  text-align: center;
  padding: 20px;
  margin: 50px;
} */


/* for calculator  */

/* button{
  padding: 5px;
  margin:4px;
  color: blue;
} */

